.header
  .left-header
    .left-header__title
      = @group.name
    %ul.left-header__members
      Member:
      %li.member
        - @members.each do |member|
          = member.name
  .right-header
    Edit